Source: derby-server
Section: database
Priority: optional
Maintainer: Open Data Kraken <opendatakraken@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git@github.com:opendk/deb.git
#Vcs-Browser: https://github.com/opendk/deb/tree/master/derby-server

Package: derby-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Derby Server
 A Derby network server supporting connections ovet TCP
 A systemd service is also installed
