Package: h2-server
Version: 0.1-1
Section: base
Priority: optional
Architecture: all
Depends: libh2-java
Maintainer: Nicola Marangoni <nicola.marangoni@gmail.com>
Description: H2 Server
 A H2 network server supporting connections ovet TCP
 A systemd service is also installed
