[Unit]
Description=H2 network service

[Service]
Type=simple
PIDFile=/var/lib/h2database/h2database.pid
ExecStart=/bin/bash -c /var/lib/h2database/bin/startup.sh
ExecStop=/bin/bash -c /var/lib/h2database/bin/shutdown.sh

[Install]
WantedBy=multi-user.target